* {
    margin: 0;
}

h3 {
    font-size: 150%;
}

hr {
    border-top: 2px solid #e67e22;
    margin: 5px 0;
    padding: 0; 
}

.faculty-image {
    border-radius: 50%;
}

.faculty-name {
    color: #000;
    text-decoration: none;
    text-decoration-color: transparent;
    transition: text-decoration 0.2s, text-decoration-color 0.2s;
}

.faculty-name:hover {
    color: #000;
    text-decoration: underline;
    text-decoration-color: #e67e22;
}