  <img class="loading" src="../../../assets/images/Reload-1.3s-78px.svg" *ngIf="loading">

  <div class="row" *ngIf="!loading">
    <div class="col-12">
      <div class="row mt-2" *ngIf="!!error">
        <div class="col-10 mx-auto">
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" (click)="clearError()" data-dismiss="alert">&times;</button>
          <span>{{error}}</span>
        </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 mx-auto">
          <div class="row">
            <div class="col-6">
              <h3>Exams</h3>
            </div>
            <div class="col-6">
              <button class="new-btn float-right" (click)="onNewExam()">Create New exam</button>
            </div>
          </div>
          <hr>
          <div class="table-responsive" *ngIf="exams.length > 0; else empty_exams">
            <table class="table table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr class="exam" *ngFor="let exam of exams, let i = index">
                <td>{{ i+1 }}</td>
                <td>
                  <a class="title" [routerLink]="exam._id" skipLocationChange>{{exam.title}} </a>
                </td>
                <td>
                  <button type="button" [routerLink]="[exam._id, 'edit']" class="btn-edit float-left" skipLocationChange>Edit</button>
                </td>
                <td>
                  <button type="button" class="btn-delete" (click)="deleteExam(exam._id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        <ng-template #empty_exams>
          <h5 class="pl-3">No Exams Available..</h5>
        </ng-template>
        </div>
      </div>
    </div>
  </div>