<!-- <h3>COMMING SOON...</h3> -->

<img class="loading" src="../../../assets/images/Reload-1.3s-78px.svg" *ngIf="loading">

<div class="row mt-2" *ngIf="!loading">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <h3>Gallery</h3>
      </div>
      <div class="col-6">
        <button class="new-btn float-right" routerLink="new" skipLocationChange>Add New Images</button>
      </div>
    </div>
  
    <hr>
    
    <div class="row">
        <div class="col-12">
          <div *ngIf="images.length > 0; else noImages">
              <h3>Images : </h3>
              <div class="row">
                  <span class="m-2" *ngFor="let image of images; let i = index;">
                      <div class="image-container" >
                          <img [src]="image" class="image" [alt]="i">
                          <div class="middle">
                              <a class="delete" (click)="deleteImage(i)"><i class="fa fa-trash-o trash"></i></a>
                          </div>
                      </div>
                  </span>
              </div>
          </div>
          <ng-template #noImages><h4>No Images Available</h4></ng-template>   
        </div>
    </div>
  </div>
</div>