<img class="loading" src="../../../assets/images/Reload-1.3s-78px.svg" *ngIf="loading" />

<div class="row" *ngIf="!loading">
  <div class="col-12">
    <div class="row mt-2" *ngIf="!!error">
      <div class="col-md-10 col-12 mx-auto">
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" (click)="clearError()" data-dismiss="alert">
            &times;
          </button>
          <span>{{ error }}</span>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <div class="row">
          <div class="col-6">
            <h3>Gallery</h3>
          </div>
          <div class="col-6">
            <button class="new-btn float-right" routerLink="new" skipLocationChange>
              Add New Images
            </button>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-md-6 col-12">
            <form [formGroup]="form">
              <div class="form-group">
                <label for="title">Select Categories for an Images : </label>
                <select
                  class="category"
                  type="text"
                  name="category"
                  id="category"
                  formControlName="category"
                  (change)="categoryChanged()"
                >
                  <option value="mdp">Moments duting Performance</option>
                  <option value="itc">In the Class</option>
                  <option value="mdm">Music, Drama & More</option>
                </select>
                <span *ngIf="!form.get('category').valid && form.get('category').touched"
                  >*Please Select Category</span
                >
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div *ngIf="images.length > 0; else noImages">
              <h3>Images :</h3>
              <div class="row">
                <span class="m-2" *ngFor="let image of images; let i = index">
                  <div class="image-container">
                    <img [src]="image.secure_url" class="image" [alt]="image.image_name" />
                    <div class="middle">
                      <a class="delete" (click)="deleteImage(image.public_id)"
                        ><i class="fa fa-trash-o trash"></i
                      ></a>
                    </div>
                  </div>
                </span>
              </div>
            </div>
            <ng-template #noImages><h4>No Images Available</h4></ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
