.student {
  background-color: #f4f4f4;
  padding: 10px;
}

.student-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

p {
  font-size: 80%;
}

.student-image {
  width: 80%;
  margin: auto;
}

.student-name {
  text-align: center;
  margin-bottom: 3px;
  text-decoration: underline;
  text-decoration-color: #ffd000;
}
