  <img class="loading" src="../../../assets/images/Reload-1.3s-78px.svg" *ngIf="loading">

  <div class="row mt-2" *ngIf="!loading">
    <div class="col-md-8 col-sm-10 mx-auto">

      <h4 class="text-center mb-3">Add New Faculty</h4>

      <form class="add_new-faulty" (submit)="addFaculty()" [formGroup]="form">
        
        <div class="row">

          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label for="name">Name : </label>
              <input class="name" type="text" name="name" id="name" formControlName="name" placeholder="Name">
              <span *ngIf="!form.get('name').valid && form.get('name').touched">*Please enter Faculty Name</span>
            </div>
          </div>

          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label for="birthDate">Birth Date : </label>
              <input class="birth-date" type="date" name="birthDate" id="birthDate" formControlName="birthDate">
              <span *ngIf="!form.get('birthDate').valid && form.get('birthDate').touched">*Please enter Birth Date</span>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label for="email">Email : </label>
              <input class="email" type="email" name="email" id="email" formControlName="email" placeholder="example@email.com">
              <span *ngIf="!form.get('email').valid && form.get('email').touched">*Please enter valid Email</span>
            </div>
          </div>
          
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label for="phone">Phone : </label>
              <input class="phone" type="text" pattern="\d*" name="phone" id="phone" formControlName="phone" placeholder="9876543210">
              <span *ngIf="!form.get('phone').valid && form.get('phone').touched">*Please enter valid Phone Number</span>
            </div>
          </div>

        </div>
        
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="description">Description : </label>
              <textarea type="text" class="description" name="description" id="description" rows="5" formControlName="description" placeholder="Description"></textarea>
              <span *ngIf="!form.get('description').valid && form.get('description').touched">*Please enter Faculty Description</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="image">Select Profile Image : </label>
              <input type="file" id="image" name="image" formControlName="image" (change)="onImagePicked($event)">
              <span *ngIf="!form.get('image').valid && form.get('image').touched">*Please Select Image File</span>
            </div>
          </div>
        </div>

        <div class="row mt-1" *ngIf="formError">
          <div class="col-12">
            <span>*Please Fill All Faculty Fields</span>
          </div>
        </div>

        <hr>
  
        <div class="row">
          <div class="col-6">
            <button type="submit" class="btn-add">Save</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn-cancel float-right" (click)="cancel()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>