<img class="loading" src="../../../assets/images/Reload-1.3s-78px.svg" *ngIf="loading">

<div class="row mt-2" *ngIf="!loading">
  <div class="col-12">
    <div class="row mt-3" *ngIf="!loginAuth">
      <div class="col-10 mx-auto">
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" (click)="alertDismiss()" data-dismiss="alert">&times;</button>
            <span>Invalid Username</span>
        </div>
      </div>
    </div>
  
    <div class="row mt-3" *ngIf="linkSend">
      <div class="col-10 mx-auto">
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" (click)="alertDismiss()" data-dismiss="alert">&times;</button>
            <span class="text-green">Reset Password Link Send to your email <strong>Successfully!!!</strong></span>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 col-sm-10 mx-auto">
        <h3 class="m-1">Forgot your Password?</h3>
        <form class="login-form" (submit)="forgotPassword()" [formGroup]="form">
          
          <div class="form-group mb-3">
            <label for="username">Enter User Name : </label>
            <input type="text" class="username" name="username" id="username" formControlName="forgotPassword" placeholder="USERNAME">
            <span *ngIf="!form.get('forgotPassword').valid && form.get('forgotPassword').touched">*Please enter User Name</span>
          </div>
          
          <hr>
          
          <button type="submit" class="btn-login">Send Reset Link</button>
          
        </form>
      </div>
    </div>
  </div>
</div>
