* {
    margin: 0;
}

.alert-danger {
    border-radius: 0px;
}

.close {
    outline: none;
}

.text-green {
    color: #75a27f;
}

hr {
    border: 1px solid #e67e22;
    margin: 5px 0;
}

.btn-login {
    outline: none;
    cursor: pointer;
    border: 1px solid #e67e22;
    border-radius: 50px;
    background-color: #e67e22;
    padding: 3px 12px;
    color: #fff;
    margin: 0 auto;
    transition: background-color 0.2s, color 0.2s;
}

.btn-login:hover {
    background-color: #e67e22;
    color: #fff;
}