input[type='file'] {
  display: none;
}

.file {
  font-size: 100%;
  margin-bottom: 0;
}

.file-name {
  color: #000;
}

.cancel {
  background-color: #f00;
  border-radius: 50%;
  padding: 2px 6px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 80%;
}
.careerBox{
  padding: 20px;
}
.coverLetterDiv{
  padding-bottom: 15px;
}