h3 {
    font-size: 150%;
}

hr {
    border: 1px solid #e67e22;
    margin: 5px 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.sidebar {
    width: 250px;
    min-height: 78.3vh;
    background-color: #e67e22;
    color: #fff;
    font-size: 90%;
    text-transform: uppercase;
    transition: all 0.3s;
}

.sidebar.hide {
    margin-left: -250px;
}

.sidebar li {
    border-bottom: 1px solid #d47f35;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #f0f0f0;
    color: #e67e22;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /* background-color: #dd7316; */
}

.toggle-btn {
  height: 35px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: #e67e22;
  padding: 3px 12px;
  color: #fff;
  margin: 0 auto;
  transition: background-color 0.2s, color 0.2s;
}

.toggle-btn:hover {
    background-color: #f0f0f0;
    color: #e67e22;
}

.active {
    background-color: #f0f0f0;
    color: #e67e22;
}

/* @media(width: 230px */