* {
    margin: 0;
}

h3 {
    font-size: 150px;
}

hr {
    border: 1px solid #e67e22;
    margin: 5px 0;
}

.enquiry {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px;
}

.footer {
    font-size: 90%;
}

.btn-cancel {
    margin-top: 5px;
}

.reply {
    text-decoration: none;
    color: #000;
    text-decoration-color: transparent;
    transition: text-decoration 0.2s, text-decoration-color 0.2s;
}

.reply:hover{
    color: #000;
    text-decoration: underline;
    text-decoration-color: #e67e22;
}