  <img class="loading" src="../../../assets/images/Reload-1.3s-78px.svg" *ngIf="loading">

  <div class="row mt-2" *ngIf="!loading">
    <div class="edit-history col-md-8 col-sm-10 mx-auto">
      <form (submit)="saveHistory()" [formGroup]="form">
        <div class="header">
          <h3>history</h3>
        </div>
        <hr>
        <div class="body">
          <textarea class="history" name="history" id="history" rows="6" formControlName="history" placeholder="Enter history"></textarea>
          <span *ngIf="!form.get('history').valid && form.get('history').touched">*Please Enter History</span>
        </div>
        <hr>
        <div class="footer">
          <div class="row">
            <div class="col-6">
              <button type="submit" class="btn-save">Save</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn-cancel float-right" (click)="cancel()">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>