<img class="loading" src="../../../assets/images/Reload-1.3s-78px.svg" *ngIf="loading">

<div class="row mt-2" *ngIf="!loading">
  <div class="col-md-8 col-sm-12 mx-auto">
    <form class="" (submit)="sendReply()" [formGroup]="form">
      <div class="reply-header">
        <div class="reply-to">
          <p><strong>To : </strong>{{enquiry.email}}</p>
        </div>
        <hr>
        <div class="reply-subject form-group">
          <label for="subject">Subject : </label>
          <input class="subject" type="text" id="subject" name="subject" placeholder="Subject" formControlName="subject">
          <span *ngIf="!form.get('subject').valid && form.get('subject').touched">*Please enter valid Subject</span>
        </div>
      </div>
      <div class="reply-body form-group">
        <label for="subject">Body : </label>
        <textarea class="body" name="body" id="body" rows="8"placeholder="Body" formControlName="body"></textarea>
        <span *ngIf="!form.get('body').valid && form.get('body').touched">*Please enter reply Body</span>
      </div>
      <hr>
      <div class="reply-footer">
        <button class="reply-btn" type="submit">Send</button>
        <button class="btn-cancel float-right" type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
