.home-page-text{
    width: 50%;
    color: #fff;
    padding: 200px 0;
}
.bg-home-img
{
    background-position: center;
    background-repeat: no-repeat; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.7)),url(src/assets/images/homePage.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

