  * {
    margin: 0;
  }

  h3 {
    font-size: 150%;
  }

  hr {
    border-top: 2px solid #e67e22;
    margin: 5px 0;
    padding: 0; 
  }

  input[type="file"] {
    visibility: hidden;
  }

  input.ng-invalid.ng-touched {
    border-color: #ff0000;
  }

  span {
    font-size: 15px;
    color: #ff0000;
  }

  .preview-image {
    position: relative;
    width: 100px;
  }

  .preview-image img{
    width: 100px;
    height: 75px;
    border-radius: 5px;
    border: 1px solid #555;
  }
  .remove-image {
    display: inline;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 25px;
    padding: 1px 6px 2px 6px;
    text-decoration: none;
    font-size: 15px;
    background-color: #fff;
    border: 2px solid #ff0000;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .remove-image:hover {
    background-color: #ff0000;
  }

  .remove {
    color: #000;
    transition: color 0.2s;
  }

  .remove:hover {
    color: #fff;
  }