/*-----------------------------------------------------*/
/*-----------BASIC SETUP---------*/
/*-----------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}

html, body {
  background-color: #fff;
  color:#555;
  font-family: 'Lato','Arial',sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
}

section{
  padding: 80px 0;
}

.clearfix{zoom:1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*---------LOADING-----------*/
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -39px;
  margin-left: -39px;
}

/*-----------------------------------------------------*/
/*-----------Animations---------*/
/*-----------------------------------------------------*/

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

/*-----------------------------------------------------*/
/*-----------REUSABLE COMPONENTS---------*/
/*-----------------------------------------------------*/

/*------Container----*/

.flex-container{
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}

/*------BUTTONS----*/

.btn:link,
.btn{
    margin-top: 10px;
    background-color: #e67e22;
    border-radius: 200px;
    color: #fff;
}
.btn:hover,
.btn:active{
    margin-top: 15px;
    background-color: #d67118;
    border-radius: 200px;
    color: #fff;
}

.btn-edit, 
.btn-save, 
.btn-add, 
.reply-btn, 
.btn-activate,
.btn-submit {
  outline: none;
  border: 1px solid #e67e22;
  border-radius: 50px;
  background-color: #e67e22;
  padding: 3px 12px;
  color: #fff;
  margin: 0 auto;
  transition: background-color 0.2s, color 0.2s;
}

.btn-edit:hover, 
.btn-save:hover, 
.btn-add:hover, 
.reply-btn:hover, 
.btn-activate:hover,
.btn-submit:hover {
  background-color: #e67e22;
  color: #fff;
}

.btn-cancel, 
.btn-delete, 
.btn-deactivate {
  outline: none;
  background-color: #f00;
  padding: 3px 12px;
  border-radius: 50px;
  margin: 0 auto;
  border: 1px solid #f00;
  color: #fff;
  transition: background-color 0.2s;
}

.btn-cancel:hover, 
.btn-delete:hover, 
.btn-deactivate:hover {
  background-color: #f00;
}

.btn-close {
  outline: none;
  background-color: #f00;
  padding: 0 3px;
  border-radius: 100px;
  font-size: 75%;
  border: 1px solid #f00;
  margin: 0 auto;
  color: #fff;
  transition: background-color 0.2s;
}

.btn-close:hover {
  background-color: #f00;
}

.new-btn {
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #e67e22;
  border: 1px solid #e67e22;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.2s, color 0.2s;
}

.new-btn:hover {
  background-color: #e67e22;
  color: #fff;
}

.btn-edit:focus, 
.btn-save:focus, 
.btn-add:focus, 
.btn-cancel:focus, 
.new-btn:focus, 
.reply-btn:focus, 
.btn-deactivate:focus, 
.btn-activate:focus,
.brn-close:focus,
.btn-submit:focus {
  outline: none;
}

/*--TABLE--*/
.table {
  background-color: #f4f4f4;
}

/*------HEADINGS------*/

h1,
h2,
h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin-top: 0;
    font-size: 240%;
    margin-bottom: 20px;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;

}

h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
  font-size: 110%;
  margin-bottom: 15px;
}

/*--link--*/
a{
    color: inherit;
}


/*-----------------------------------------------------*/
/*-----------HEADER & FOOTER---------*/
/*-----------------------------------------------------*/
.header-bg, .footer-bg{
    position: sticky;
    background-color:rgba(230, 230, 230,1.0);
    color: #000;
}

.main-nav{
    margin-left: auto;
    list-style: none;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}

.logo{
  height:50px;
  width: 50px;
  float:left;
  margin: 0  0  0 50px;
}

.mr-auto{
    margin-right: 20px!important;
}

.navbar-light .navbar-nav .nav-link {
     color: rgba(0,0,0); 
}
  
/*--FORM CONTROLS--*/
form {
  padding: 8px 15px;
  background-color: #f4f4f4;
}

input, textarea, select {
  border: 1px solid #e67e22;
  outline: none;
  width: 100%;
  background-color: #fff;
  color: #000;
  font-size: 80%;
  padding: 1px 3px;
  transition: background-color 0.2s;
  resize:none;
}

input:focus, select:focus, textarea:focus, input:hover, select:hover, textarea:hover {
  background-color: rgba(255, 255, 255, 0.75);
  outline: none;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid #f00;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select option {
  color: #000;
}

span {
  font-size: 75%;
  color: #f00;
}

/*--SCROLL BAR--*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: transparent; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d67118; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d67118; 
}