<img class="loading" src="../../../assets/images/Reload-1.3s-78px.svg" *ngIf="loading">

<div class="row mt-2" *ngIf="!loading">
  <div class="col-12 mx-auto">
    <h3>Enquiries..</h3>
    <hr>
    <div class="table-responsive" *ngIf="enquiries.length > 0; else empty_enquiries">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <tr class="enquiry" *ngFor="let enquiry of enquiries, let i = index" [routerLink]="enquiry._id" routerLinkActive="active" skipLocationChange>
            <td>{{ i+1 }}</td>
            <td>{{ enquiry.name }}</td>
            <td class="email">{{ enquiry.email }}</td>
            <td>{{ limitData(enquiry.message) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #empty_enquiries>
      <h5 class="pl-3">No Enquiries Available..</h5>
    </ng-template>
  </div>
</div>